In [55]:
import pandas as pd

In [3]:
pd.__version__

'1.1.3'

In [4]:
#crear y visualizar un arreglo unidimensional como una estructura Series
datos = [2, 3, 5, 7, 11]

serie = pd.Series(datos)

In [5]:
serie

list

In [10]:
serie.size

5

In [11]:
serie.describe()

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64

In [6]:
type(datos)

list

In [7]:
type(serie)

pandas.core.series.Series

In [11]:
#Convertir un objeto Seires a una lista Python

lista = serie.tolist()

lista

[2, 3, 5, 7, 11]

In [12]:
type(lista)

list

In [13]:
#Aplicar las operaciones aritméticas básicas sobre objetos Series
 
Serie1 = pd.Series([1, 2, 3, 4, 5])
Serie2 = pd.Series([9, 8, 7, 6, 5])

Serie1 + Serie2

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [14]:
Serie1 - Serie2

0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64

In [15]:
Serie1 * Serie2

0     9
1    16
2    21
3    24
4    25
dtype: int64

In [16]:
Serie1 / Serie2

0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
dtype: float64

In [18]:
#usar operadores relacionales para comparar objetos Series
Serie1 < Serie2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [19]:
Serie1 > Serie2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [20]:
Serie1 == Serie2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [21]:
#Convertir un diccionario Python en un objeto Series

datos = {'a' : 10,'b' : 20,'c' : 30,'d' : 40,}

serie = pd.Series(datos)

In [22]:
serie

a    10
b    20
c    30
d    40
dtype: int64

In [23]:
serie['a']

10

In [24]:
#COnvertir un arreglo NumPy en un obeto Series

import numpy as np

In [31]:
arreglo = np.array([2, 3, 5, 7, 11])

In [32]:
arreglo

array([ 2,  3,  5,  7, 11])

In [33]:
serie = pd.Series(arreglo)

In [34]:
serie

0     2
1     3
2     5
3     7
4    11
dtype: int64

In [35]:
#Cambiar el tipo de datos de un objeto Series

datos = pd.Series(['100', '200', 'python', '300.15', '500.8'])

datos

0       100
1       200
2    python
3    300.15
4     500.8
dtype: object

In [36]:
datos = pd.to_numeric(datos, errors='coerce') #si no hay un valor número que ponga NaN <- errors='coerce'

datos

0    100.00
1    200.00
2       NaN
3    300.15
4    500.80
dtype: float64

In [39]:
#Obtener una columna de un objeto DataFrame como un objeto Series.

datos = {'A': [1,2,3,4,5],'B': [9,8,7,6,5],'C': [2,3,5,7,1]}

df = pd.DataFrame(data=datos)

df

   A  B  C
0  1  9  2
1  2  8  3
2  3  7  5
3  4  6  7
4  5  5  1

In [40]:
type(df)

pandas.core.frame.DataFrame

In [45]:
columna = df.iloc[:,1]

columna

0    9
1    8
2    7
3    6
4    5
Name: B, dtype: int64

In [47]:
type(columna)

pandas.core.series.Series

In [48]:
#Extraer una fila de un objeto DataFrame como un objeto Series.

datos = {'A': [1,2,3,4,5],'B': [9,8,7,6,5],'C': [2,3,5,7,1]}

df = pd.DataFrame(data=datos)

df

   A  B  C
0  1  9  2
1  2  8  3
2  3  7  5
3  4  6  7
4  5  5  1

In [50]:
fila = df.iloc[3,:]

fila

A    4
B    6
C    7
Name: 3, dtype: int64

In [51]:
type(fila)

pandas.core.series.Series

In [52]:
#Convertir un objeto Series con múltipeles listtas en un único objeto Serires

datos = [['Colombia', 'Peru', 'Argentina'], ['Bolivia', 'Uruguay'],['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Peru, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

In [54]:
serie = serie.apply(pd.Series).stack().reset_index(drop=True)
#stack para que los elementos se aplanen, reset_index para resetear indice
# e indicamos que se elimine la anterior (drop)

serie

0     Colombia
1         Peru
2    Argentina
3      Bolivia
4      Uruguay
5        Chile
dtype: object

In [56]:
#Ordenar los valores de un objeto Series con el metodo sort_values
datos = ['1.1','Python','0.5','Pandas','2.8']

serie = pd.Series(datos)

serie

0       1.1
1    Python
2       0.5
3    Pandas
4       2.8
dtype: object

In [58]:
serie = pd.Series(datos).sort_values()

serie

2       0.5
0       1.1
4       2.8
3    Pandas
1    Python
dtype: object

In [59]:
#Agregar datos a un objeto Serie existente

datos = ['C#','Python','C++','Java','PHP']

serie = pd.Series(datos)

serie

0        C#
1    Python
2       C++
3      Java
4       PHP
dtype: object

In [60]:
serie = serie.append(pd.Series(['JavaScript','Perl']))

serie

0            C#
1        Python
2           C++
3          Java
4           PHP
0    JavaScript
1          Perl
dtype: object

In [61]:
#Crear un objeto Series a partir de un filtro aplicado a otro objeto Series
datos = [0,1,2,3,4,5,6,7,8,9]

serie = pd.Series(datos)

serie

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [63]:
n = 6

serie_nueva = serie[serie < n]

serie_nueva

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [75]:
#Ejercicio 15
#Cambiar el orden del índice de un objeto Series.

In [76]:
import pandas as pd

In [77]:
datos = [1,2,3,4,5]

indices = ['A','B','C','D','E']

serie = pd.Series(data=datos, index=indices)

serie

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [78]:
serie = serie.reindex(index=['B','A','C','D','E'])

serie

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [ ]:
#Ejercicio 16
#Calcucar la desviación estandar y el promedio de un conjunto de datos de una serie

In [79]:
import pandas as pd

In [81]:
datos = [2,3,5,7,11,13,17,19,23,29]

serie = pd.Series(datos)

serie

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

In [85]:
serie.std() #desviación stdr

9.024041962077378

In [83]:
serie.mean() #promedio

12.9

In [ ]:
#Ejercicio 17
#Calcucar los valores min y max de un objeto series

In [86]:
import pandas as pd

In [89]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

In [90]:
serie.min()

0

In [91]:
serie.max()

29

In [ ]:
#Ejercicio 18
#Obtener estadísticas básicas de un objeto

In [92]:
import pandas as pd